# Homework Assignment #3 - pandas (20 points)

## Due: 2/5 (10 pm)

This assignment is designed to give you some hands-on practice with pandas.

For the first problem, as you are being asked to write a function, you must include code within the function to check for valid input parameter values as well as code that calls the function for multipe test cases with valid and invalid actual parameter values.

**Make sure to add a Markdown cell after your code for each problem that explains your test cases and results**.

For this assignment, you were given a group number during class.   There are lettered problems A - R on the other attached handout to this assignment.   For problems #2-#4, you need only to complete the three specific lettered problems associated with the group number you were assigned.

## Problem 1 (11 pts.) - Do the following in the code cell below:

### Write a Python function that has as input a Python dictionary and a numPy array of strings.  The function should validate that all values in the dictionary are Python lists of equal length and that the length of the numPy array is also the same as the length of the dictionary list values.   Using the dictionary and list, the function should create and return a pandas dataframe.

Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:

attempts name qualify score

a 1 Anastasia yes 12.5

b 3 Dima no 9.0

.... i 2 Kevin no 8.0

j 1 Jonas yes 19.0

In [11]:
import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

def checkgivenvalues(exam_data,labels):
    if not isinstance(exam_data, dict):
        return "The First Parameter is not an instance of dict"

    if not isinstance(labels, np.ndarray):
        return "The second parameter is not an numpy array"

    FirstListLength = len(list(exam_data.values())[0])

    for key,value in exam_data.items():
        if not isinstance(value, list):
            return f"The values of key'{key}' are not lists"
        if len(value) != FirstListLength:
            return f"Values of key '{key}' are not of equal length"         

    if len(value) == len(labels):
        dframe = pd.DataFrame(exam_data, columns=['attempts', 'name', 'qualify', 'score'],index = labels_list)
        return dframe
    else:
        return "the length of the numPy array is not same as the length of the dictionary list values. \n"
            
          
print(checkgivenvalues(exam_data,np.array(labels_list)))

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

In [12]:
#Test 1
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('Test#1 : Happy Case')
print(f'Result for Test#1 :\n {checkgivenvalues(exam_data,np.array(labels))} \n')

#Test 2
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print('Test#2 : When the size of labels is not equal to')
print(f'Result for Test#2 : {checkgivenvalues(exam_data,np.array(labels))} \n')

#Test 3
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'Test': [1,2,3]}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('Test#3 : When the length of one of the key:value in dict is not equal')
print(f'Result for Test#3 : {checkgivenvalues(exam_data,np.array(labels))} \n')

#Test 4
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'testkey': 'testvalue'}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('Test#4 : When not all the values in the dict are of list type')
print(f'Result for Test#4 : {checkgivenvalues(exam_data,np.array(labels))} \n')

#Test 5
exam_data = ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas']

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print('Test#5 : When the first parameter is not of type dictionary')
print(f'Result for Test#5 : {checkgivenvalues(exam_data,np.array(labels))} \n')

#Test 6
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = 'Test Label'
print('Test#6 : When the second parameter is not of type nimpy array')
print(f'Result for Test#6 : {checkgivenvalues(exam_data,labels)} \n')

Test#1 : Happy Case
Result for Test#1 :
    attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no    NaN
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

Test#2 : When the size of labels is not equal to
Result for Test#2 : the length of the numPy array is not same as the length of the dictionary list values.


Test#3 : When the length of one of the key:value in dict is not equal
Result for Test#3 : Values of key 'Test' are not of equal length

Test#4 : When not all the values in the dict are of list type
Result for Test#4 : The values of key'testkey' are not lists

Test#5 : When the first parameter is not of type dictionary
Result for Test#5 : The First Parameter is not an instance of dict

Test#6 : When the second parameter is not of type nimpy array
Result for Test#6 : The second parameter is not an numpy array

**In the above code, first I have imported python libraries NumPy and Pandas. Then, program first check whether the given dictionary is python dictionary or not and the given labels are a python list. Then, the function validates that all values in the dictionary are Python lists and these values are of equal length. Further it checks that the length of the numPy array is same as the length of the dictionary list values. after that, the function creates and returns a pandas dataframe with columns 'attempts', 'name', 'qualify' and 'score' and index is the given list of labels.**

### Problems 2-4 (9 pts.  -  3 pts. each)

### Do the following in the code cell below:

### Complete the problem on the attached pdf file that corresponds to the letter on your paper.

### Group 1 - A, G, M
### Group 2 - B, H, N
### Group 3 - C, I, O
### Group 4 - D, J, P
### Group 5 - E, K, Q
### Group 6 - F, L, R
### Group 7 - A, I, N
### Group 8 - B, J, Q
### Group 9 - C, K, P
### Group 10 - D, L, R

**I was assigned group number 3 so in the below I have solved problem C,I,O.**

**PROBLEM C. Write a Pandas program to select the specified columns and rows from a given data frame.**

Sample Python dictionary data and list labels:

Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura',
'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:
Select specific columns and rows:

score qualify

b 9.0 no

d NaN no

f 20.0 yes

g 14.5 yes

In [3]:
print("\nSelected specific columns and rows:\n")

dframe = pd.DataFrame(exam_data, columns=['score','qualify'],index = labels)

dframe1 = dframe.loc[['b','d','f','g']]

dframe1

Selected specific columns and rows:

   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

**In the above code, the program will select only specified columns and rows from the dataframe. The output is showing dataframe that selects the columns 'score', 'qualify' and rows : 'b', 'd', 'f' and 'g' with help of the locations of rows using 'loc' function. where the loc function is used to locate the given rows.**

**PROBLEM I. Write a Pandas program to change the score in row 'd' to 11.5.**

Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura',
'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:

Change the score in row 'd' to 11.5:

attempts name qualify score

a 1 Anastasia yes 12.5

b 3 Dima no 9.0

c 2 Katherine yes 16.5

...

i 2 Kevin no 8.0

j 1 Jonas yes 19.0

In [4]:
print("\nChange the score in row 'd' to 11.5:\n")

dframe = pd.DataFrame(exam_data, columns=['attempts', 'name', 'qualify', 'score'],index = labels)

dframe.at['d', 'score'] = 11.5

dframe

Change the score in row 'd' to 11.5:

   attempts       name qualify  score
a         1  Anastasia     yes   12.5
b         3       Dima      no    9.0
c         2  Katherine     yes   16.5
d         3      James      no   11.5
e         2      Emily      no    9.0
f         3    Michael     yes   20.0
g         1    Matthew     yes   14.5
h         1      Laura      no    NaN
i         2      Kevin      no    8.0
j         1      Jonas     yes   19.0

**In the above code, the program written to change the value of score of index 'd'. The above pandas program changed the value of score of index 'd' from NaN to 11.5. This is done by using the at[ ] method. dframe.at['d', 'score'] = 11.5. The output shows change value of 'd' in the 'score' column from NaN to 11.5.**

**PROBLEM O.Write a Pandas program to delete the 'attempts' column from the DataFrame.**

Sample Python dictionary data and list labels:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura',
'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Expected Output:

Delete the 'attempts' column from the data frame:

name qualify score

a Anastasia yes 12.5

b Dima no 9.0

.....

i Kevin no 8.0

j Jonas yes 19.0

In [5]:
print("\nDeleted the 'attempts' column from the data frame:\n")

dframe = pd.DataFrame(exam_data, columns=['attempts', 'name', 'qualify', 'score'],index = labels)
      
dframe.drop('attempts', axis=1, inplace=True)

dframe

Deleted the 'attempts' column from the data frame:

        name qualify  score
a  Anastasia     yes   12.5
b       Dima      no    9.0
c  Katherine     yes   16.5
d      James      no    NaN
e      Emily      no    9.0
f    Michael     yes   20.0
g    Matthew     yes   14.5
h      Laura      no    NaN
i      Kevin      no    8.0
j      Jonas     yes   19.0

**In the above code, the pandas program is used to delete a specific column from the dataframe. The program deleted the 'attempts' column from the given dataframe. The program deleted 'attempts' column with the help of 'drop' function. The output shows only the columns 'name', 'qualify' and 'score' with index which are labels.**